/* Reset / Base Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Navigation - FLEXBOX */
.nav {
    background-color: #f53528;
    color: white;
    display: flex;
    /* FLEXBOX */
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    /* FLEXBOX */
}

.nav-links a {}

/* Hero Section - FLEXBOX */
.hero {
    display: flex;
    /* FLEXBOX */
}

.hero img {}

button {}

/* Workshop Section - GRID */
.workshop {}

.grid {
    display: grid;
    /* GRID */

}

.card {}

/* Footer */
footer {
    background-color: rgb(70, 69, 69);
    color: white;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}